<div class="note-item">
    <% @track.notes.each do |note| %>
        <p id="note-item-specific"><s id="note-item-special">Message:  </s><%= note.longnote %></p>
        <% if note.user.id == current_user.id || current_user.admin == true %>
            <div class="note-item-info">
                <p><%= note.likes.count %> LIKES</p>
                <% if current_user.likes.find_by(:note => note).nil? %>
                    <form id="likes_form" action="/likes" method="post">
                        <%= auth_token %>
                        <input type="hidden" name="like[note_id]" value="<%= note.id %>">
                        <input type="submit" value="Like">
                    </form>
                <% else %>
                    <% like = current_user.likes.find_by(:note => note) %>
                    <form id="likes_form" action="<%= like_path(like) %>" method="post">
                        <%= auth_token %>
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Unlike">
                    </form>
                <% end %>
                <p>Authored by: <pre><%= note.user.email %></pre></p>
                <form class="form-delete" action="<%= note_path(note.id) %>" method="POST">
                    <%= auth_token %>
                    <input type="hidden" name="_method" value="delete">

                    <input type="submit" value="Destroy Note">
                </form>
            </div>
        <% else %>
            <% if note.id != current_user.id %>
                <div class="note-item-info">
                    <p>Authored by: <%= note.user.email %></p>
                </div>
            <% end %>
        <% end %>
    <% end %>
</div>