<h1 class="page-header"><%= @album.name %></h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <li id="error-catching"><%= error %></li>
    <% end %>
<% end %>

<h4 class="page-header-header">Tracks</h4>
<ul class="main-list">
    <% if !@album.tracks.empty? %>
        <% @album.tracks.each do |track| %>
            <li class="list-active">
                <a class="list-album" href="<%= track_path(track.id) %>">
                <p><%= track.title %></p>
                </a>
            </li>
        <% end %>
    <% else %>
        <p class="no_albums" >This album has no tracks... yet!</p>
    <% end %>
</ul>
<h4>Links</h4>
<% if flash.key? :update %>
    <% flash.each do |update| %>
        <%= update %>
    <% end%>
<% end%>
<ul class="wrapper">
    <li>
        <a class="button" href="<%= new_album_track_url(@album.id) %>">New Track</a></li>
    <li>
        <a clas="button" href="<%= edit_album_path %>">Edit Album</a></li>
    <li>
        <% if flash.key? :delete %>
            <%= flash[:delete] %>
        <% end%>
        <%= button_to "Delete Me", album_path(@album.id), :method => :delete %>
    </li>
    <li>
        <a class="button" href="<%= band_path(@album.band.id) %>">Back to <%= @album.band.name %></a></li>
</ul>