<% if flash[:notice] %>
    <% flash[:notice].each do |success| %>
          <li id="success-catching"><%= success %></li>
    <% end %>
<% end %>
<% if flash[:success] %>
    <% flash[:success].each do |success| %>
          <li id="success-catching"><%= success %></li>
    <% end %>
<% end %>
<h1 class="page-header">Bands</h1>
<ul class="band-list">
    <% @bands.each do |band| %>
        <a href="<%= band_path(band.id) %>">
            <p><%= band.name %></p>            
        </a>
    <%end%>
</ul>
<h4 class="subheader">LINKS</h4>
<ul class="band-links">
    <a href="<%= new_band_path %>">New Band</a>
</ul>