<h1 class="page-header"><%= @band.name %></h1>
<br />

<h4 class="page-header-header">ALBUMS</h4>
<ul class="main-list">
    <% if !@band.band_albums.empty? %>
        <% @band.band_albums.each do |band_album| %>
            <li class="list-active">
                <a class="list-album" href="<%= album_path(band_album.id) %>">
                    <p><%= band_album.name %></p>
                </a>
            </li>
        <% end %>
    <% else %>
        <p class="no_albums">This band has no albums... yet!</p>
    <% end %>
</ul>
<ul class="wrapper">
    <li>
        <a class="button" href="<%= new_band_album_url(@band.id) %>">
        New Album</a></li>
    <li>
        <a class="button" href="<%= edit_band_path(@band.id) %>">
        Edit Band</a></li>
    <li>
        <a class="button" href="<%= bands_path %>">
    All Bands</a></li>
    <li>
        <% if flash.key? :delete %>
            <%= flash[:delete] %>
        <% end %>
        <form action="<%= band_path(@band.id) %>" method="POST">
            <%= auth_token %>
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Destroy Band" />
        </form>
    </li>
</ul>
