<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="main-content">
      <header class="header">
        <nav class="header-nav">
          <h1 class="header-logo">
              <a href="<%= bands_path %>">Music Me</a>
          </h1>
          <ul class="header-list">
            <% if current_user.nil? %>
              <%= sign_in %>
              <%= sign_up %>
            <% else %>
              <div class="header-list"> 
                <p>Logged in as: <%= current_user.email %></p>
                <form class="button_logout" action="<%= session_path %>" method="post">
                  <%= auth_token %>
                  <input type="hidden"
                            name="_method"
                                value="delete">
                  <input type="submit" id="create_butt" value="Sign Out"/>
                </form>
              </div>
            <% end %>
          </ul>
        </nav> 
      </header>
    </div>
    <%= yield %>
  </body>
</html>
