<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if current_user.nil? %>
        <%= sign_in %>
        <%= sign_up %>
    <% else %>
        <%= current_user.email %>
        <form action="<%= session_path %>" method="post">
            <%= auth_token %>
            <input type="hidden"
                      name="_method"
                        value="delete">
            <input type="submit" value="Delete" />
        </form>
    <% end %>
    <%= yield %>
  </body>
</html>
